<h2><%= t "change_password" %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
<%= devise_error_messages! %>
<%= f.hidden_field :reset_password_token %>

<div><%= f.password_field :password, :placeholder => "#{t "please_input"}#{t "password"}" %></div>

<div><%= f.password_field :password_confirmation, :placeholder => "#{t "please_input_again"}#{t "password"}" %></div>

<div><%= f.submit (t "change_password"), :class => 'btn' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>