<h2><%= t "forgot_password_title" %></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
<%= devise_error_messages! %>

<div>
	<%= f.email_field :email, :placeholder => "#{t "please_input"}#{t "email"}" %>
</div>

<div><%= f.submit (t "reset_password"), :class=>'btn' %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>