<table style="width: 200px;text-align: center;">
  <tr>
    <td>
      <%= link_to '<<', calendar_path(date.prev_month.to_i), :remote => true %>
    </td>
    <td>
      <% if remote? %>
      <%= link_to "#{date.year}年", year_path(date.year), :remote => true %>
      <%= link_to_unless events.empty?, "#{date.month}月", month_path(date.year,date.month), :remote => true %>
      <% else %>
      <%= link_to "#{date.year}年", "#/logs/#{date.year}" %>
      <%= link_to_unless events.empty?, "#{date.month}月", "#/logs/#{date.year}-#{date.month}" %>
      <% end %>
    </td>
    <td>
      <%= link_to '>>', calendar_path(date.next_month.to_i), :remote => true %>
    </td>
  </tr>
</table>
<hr/>
<table style="width: 200px;text-align: center;">
  <tr>
    <th>日</th>
    <th>一</th>
    <th>二</th>
    <th>三</th>
    <th>四</th>
    <th>五</th>
    <th>六</th>
  </tr>
  <tr>
    <% for i in 0..6 %>
      <% if i == date.beginning_of_month.wday %>
        <% break %>
      <% end %> <td></td>
    <% end %>
    <% for day in 1..Time.days_in_month(date.month,date.year) %>
      <% if Time.new(date.year,date.month,day).wday == 0 %>
        <td>
      <% elsif Time.new(date.year,date.month,day).wday == 6 %>
        <td>
      <% else %>
        <td>
      <% end %>
      <% if remote? %>
      <%= link_to_if events.include?(day), day, day_path(date.year,date.month,day), :remote => remote? %>
      <% else %>
      <%= link_to_if events.include?(day), day, "#/logs/#{date.year}-#{date.month}-#{day}" %>
      <% end %>
      </td>
      <% if Time.new(date.year,date.month,day).wday == 6%>
        </tr>
        <tr>
      <% end %>
    <% end %>
  </tr>
</table>