<div class="comment" id="c<%= comment.id %>_of_e<%= comment.commentable.id %>">
	<div class="left">
		<% if comment.user %>
		<%= link_to image_tag(comment.user.avatar_url(:mini)), account_path(comment.user.username) %>
		<% else %>
		<%= image_tag "mini_default_avatar.png" %>
		<% end %>
	</div>
	<div class="left comment_content">
		<div class="comment_username">
			<% if comment.user %>
			<%= link_to comment.user.username, account_path(comment.user.username) %>：
			<% else %>
			<%= comment.username %>：
			<% end %>
		</div>
		<div class="comment_datetime">
			<%= comment.created_at.to_s %>
			<% if current_user && (current_user.has_role?(:admin) || comment.user == current_user) %>
			<%= link_to 'x', remove_comment_path(comment.commentable.id, comment.id, 'js'), :remote => true, :confirm => "真的要删吗=口=！？" %>
			<% end %>
		</div>
		<div class="comment_body">
			<%= comment.body %>
		</div>
	</div>
	<div class="clear"></div>
</div>