<div class="block entry" id="entry_<%= entry.id %>">
	<%= entry.short %>

	<% if entry.image_url %>
	<br/><%= image_tag entry.image_url(:mini), :class => "image_of_entry mini" %>
	<% end %>

	<% if entry.has_long? %>
	<div id="long_of_e<%= entry.id %>" class="article">
		<hr/>
		<%= simple_format entry.long %>
	</div>
	<% end %>
	<div class="entry_links">
		<% if entry.has_long? %>
		<div class="left">
			<%= link_to "显示全文", "javascript:void(0);", :id => "show_long_btn_of_e#{entry.id}", :onclick => "$('#long_of_e#{entry.id}').slideDown();$('#show_long_btn_of_e#{entry.id}').hide();$('#hide_long_btn_of_e#{entry.id}').show()" %>
			<%= link_to "隐藏全文", "javascript:void(0);", :id => "hide_long_btn_of_e#{entry.id}", :onclick => "$('#long_of_e#{entry.id}').slideUp();$('#show_long_btn_of_e#{entry.id}').show();$('#hide_long_btn_of_e#{entry.id}').hide()", :style => "display:none;" %>
		</div>
		<% end %>
		<div class="right">
			<% entry.tags.each do |tag| %>
			<%= link_to tag, "#/logs/tag/#{tag}" %>
			<% end %> |
			<%= entry.created_at.to_s %> |
			<%= link_to "评论(#{entry.comments.count})", "javascript:void(0);", :onclick => "$('#comments_of_e#{entry.id}').slideToggle();" %>
		</div>
		<div class="clear"></div>
	</div>
	<div id="comments_of_e<%= entry.id %>" class="comments">
		<%= render "home/comment_form", :entry => entry %>
		<div id="commentslist_of_e<%= entry.id %>">
			<% entry.comments.desc(:created_at).each do |comment| %>
			<%= render "home/comment", :comment => comment %>
			<% end %>
		</div>
	</div>
</div>