<!DOCTYPE html>
<html>
<head>
	<title>马太目欢乐颂+</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=0.5, maximum-scale=2.0, user-scalable=yes" />
	<meta property="wb:webmaster" content="45171f046bcdc005" />
	<style type="text/css">
	html {
		margin: 0 auto;
		height: 100%;
		padding: 0;
	}
	body {
		margin: 0 auto;
		padding: 0;
		text-align: center;
		height: 100%;
		font-size: 12px;
		font-family: 'microsoft yahei';
	}
	span {
		color: red;
		display: inline;
	}
	a {
		color: black;
		text-decoration: none;
	}
	#main {
		margin: 0 auto;
		width: 290px;
		height: 100%;
		/*vertical-align: middle;
		padding-top: 160px;*/
		border-image: url(/assets/border3.png) 0 15 0 15   /0 15px repeat repeat;
		-moz-border-image: url(/assets/border3.png) 0 15 0 15   /0 15px repeat repeat;
		-o-border-image: url(/assets/border3.png) 0 15 0 15   /0 15px repeat repeat;
		-webkit-border-image: url(/assets/border3.png) 0 15 0 15   /0 15px repeat repeat;
		behavior: url(/PIE_1.0.0/PIE.htc);
	}
	#content {
		padding-top: 160px;
	}
	#notice {
		/*font-size: 10px;*/
		font-weight: bolder;
		padding-top: 12px;
	}
	.links {
		font-size: 10px;
		padding-top: 20px;
	}
	</style>
	<%= javascript_include_tag "application" %>
    	<!--[if lt IE 7]>
		<script src="/assets/IE7.js"></script>
		<![endif]-->

		<!--[if lt IE 8]>
		<script src="/assets/IE8.js"></script>
		<![endif]-->

		<!--[if lt IE 8]>
		<script src="/assets/IE9.js"></script>
		<![endif]-->
	</head>
	<body>
		<div id="main">
			<div id="content">
				<%= image_tag("banner.png") %>
				<br/>
				一个个人日记站=L=
				<br/>
				对<span>二次元</span>、<span>再创作</span>等词汇不明或反感者请<span>全速脱出</span>
				<div id="notice">
					本站内容与原作者、制作公司、历史人物等无关
					<br/>
					特此声明
				</div>
				<div class="links">
					<%#= link_to "Jquery版入口", frame_path(:type => :jquery) %>
					<%= link_to "ENTER", frame_path %>
					<div><span>推荐使用Chrome浏览器=L=</span></div>
				</div>
				<div class="links">
					<% if current_user %>
					<%= link_to current_user.username, edit_registration_path(:user) %>
					<%= link_to('管理界面', admin_entries_path) if current_user.has_role?(:admin) %>
					<%= link_to '注销', destroy_session_path(:user), :method => :delete %>
					<% else %>
					<%= link_to '登录', new_session_path(:user) %>
					<%= link_to '注册', new_registration_path(:user) %>
					<% end %>
				</div>
			</div>
		</div>
		<script type="text/javascript">
		var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
		document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F47b86a03ed7b7f70e6d6112987cd3543' type='text/javascript'%3E%3C/script%3E"));
		</script>
	</body>
	</html>