<h1>Listing admin_entries</h1>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th style="width:600px">摘要</th>
      <th>评论数</th>
      <th>最近评论时间</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @entries.each do |entry| %>
    <tr>
      <td><%= entry.short %></td>
      <td><%= link_to entry.comments.count, admin_entry_comments_path(entry.id) %></td>
      <td><%= entry.comments.last.try(:created_at).try(:to_s) %></td>
      <td><%= link_to 'Show', [:admin, entry] %></td>
      <td><%= link_to 'Edit', edit_admin_entry_path(entry) %></td>
      <td><%= link_to 'Destroy', [:admin, entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @entries %>
<br />

<%= link_to 'New Entry', new_admin_entry_path %>
