<h1>Listing admin_entries</h1>

<table>
  <tr>
    <th>Short</th>
    <th>Long</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.short %></td>
    <td><%#= entry.long %></td>
    <td><%= link_to 'Show', [:admin, entry] %></td>
    <td><%= link_to 'Edit', edit_admin_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', [:admin, entry], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<%= paginate @entries %>
<br />

<%= link_to 'New Entry', new_admin_entry_path %>
