<!DOCTYPE html>
<html ng-app="my_routes">
<head>
  <title>马太目欢乐颂+</title>
  <%= stylesheet_link_tag    "yamato_raven", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
  <!--[if lt IE 7]>
  <script src="/assets/IE7.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
  <script src="/assets/IE8.js"></script>
  <![endif]-->

  <!--[if lt IE 8]>
  <script src="/assets/IE9.js"></script>
  <![endif]-->
</head>
<body>
  <% if notice %><p class="notice"><%= notice %></p><% end %>
  <% if alert %><p class="alert"><%= alert %></p><% end %>
  <header>
    <%= link_to "马太目欢乐颂+", root_path %>
    <div id="login_link">
      <% if current_user %>
      <%= link_to current_user.username, account_path(current_user.username) %>
      <%= link_to('管理界面', admin_entries_path) if current_user.has_role?(:admin) %>
      <%= link_to '注销', destroy_session_path(:user), :method => :delete %>
      <% else %>
      <%= link_to '登录', new_session_path(:user) %>
      <%= link_to '注册', new_registration_path(:user) %>
      <% end %>
      <%= link_to "切换为新皮肤", entrance_path("flowers") %>
    </div>
  </header>
  <div id="container">
    <div id="side" ng-controller="SideCtrl">
      <%= image_tag "me.jpg", :id => "face", :alt => "六十", :width => 200, :height => 200 %>
      <ul id="menu">
        <% if remote? %>
        <%= link_to raw("<li ng-class=\"sideLiClass('top')\">TOP</li>"), top_path %>
        <%= link_to raw("<li ng-class=\"sideLiClass('logs')\">LOGs</li>"), logs_path %>
        <% else %>
        <%= link_to raw("<li ng-class=\"sideLiClass('top')\">TOP</li>"), "#/top" %>
        <%= link_to raw("<li ng-class=\"sideLiClass('logs')\">LOGs</li>"), "#/logs" %>
        <% end %>
      </ul>
      <div id="music_player">
        <embed src="http://www.xiami.com/widget/4409085_1770804402,1769911898,_200_200_000000_000000_0/multiPlayer.swf" type="application/x-shockwave-flash" width="200" height="200" wmode="opaque"></embed>
      </div>

    </div>
    <div id="content">
      <%= yield %>
    </div>
  </div>
  <div id="footer-wrapper">
    <footer>Powered by Ruby on Rails</footer>
  </div>
  <script type="text/javascript">
  var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
  document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F47b86a03ed7b7f70e6d6112987cd3543' type='text/javascript'%3E%3C/script%3E"));
  </script>
</body>
</html>