<% content_for :head do %>
<%= stylesheet_link_tag    "jquery.Jcrop" %>
<%= javascript_include_tag "jquery.Jcrop" %>
<% end %>
<img src="<%= @user.avatar_url(:large) %>" id="jcrop_target">
<div style="width:100px;height:100px;overflow:hidden;">
    <img src="<%= @user.avatar_url(:large) %>" id="crop_preview" width="100px" height="100px">
</div>
<a onclick="$('#crop_avatar_form').submit()">чбошод</a>
<%= form_for @user, :url => crop_avatar_path, :html => {:style => "display:none", :id => "crop_avatar_form"} do |f| %>
  <% %w[x y w h].each do |attribute| %>
    <%= f.hidden_field "crop_#{attribute}" %>
  <% end %>
<% end %>
<script type="text/javascript">
/*
var img = $('#jcrop_target');
var theImage = new Image();
theImage.src = img.attr("src");
var ori_width = theImage.width;
var ori_height = theImage.height;
var img_height = img.height();
var img_width = img.width();
console.log("ori:" + ori_width);
console.log("img:" + img_width);
*/
$(function(){
    $('#jcrop_target').Jcrop({
        onChange: showPreview,
        onSelect: showPreview,
        setSelect: [0, 0, 250, 250],
        aspectRatio: 1
    });

});
function showPreview(coords)
{
    console.log(coords);
    var rx = 100 / coords.w;
    var ry = 100 / coords.h;

    $('#crop_preview').css({
        width: Math.round(100/coords.w * $('#jcrop_target').width()) + 'px',
        height: Math.round(100/coords.h * $('#jcrop_target').height()) + 'px',
        marginLeft: '-' + Math.round(100/coords.w * coords.x) + 'px',
        marginTop: '-' + Math.round(100/coords.h * coords.y) + 'px'
    });


    $('#user_crop_x').val(coords.x)
    $('#user_crop_y').val(coords.y)
    $('#user_crop_w').val(coords.w)
    $('#user_crop_h').val(coords.h)
}
</script>