<h2><%= image_tag @user.avatar_url(:mini) %><%= @user.username %></h2>【本页面施工中】

<% if current_user && current_user == @user %>
<p>
<%= link_to "编辑账户", edit_registration_path(:user) %>
<%= link_to '上传头像', accounts_avatar_path %>
</p>
<% end %>
<p>
注册日期：<%= @user.created_at.to_s %><br/>
上次登录：<%= @user.current_sign_in_at.try(:to_s) %><br/>
评论数：<%= @user.comments.count %>
</p>
<p>
<%= link_to '注销', destroy_session_path(:user), :method => :delete %>
</p>
<marquee id="anchor_notice" align="middle" scrollamount="2" style="left: 0px; width: 480px;">
感谢每个辛苦注册了的亲
</marquee>